/build
/bin
/.xmake
/.vscode
/.cache
__pycache__
.pytest_cache
output
eval
config.json
/dist
vsxmake2022
compile_commands.json
/screenshot.png 
/imgui.ini
*.egg-info
.env
lc_options.generated.lua
/compute
.scripts
/data
